* {
    font-family: 'Roboto', sans-serif;
}

div.bg-div {
    position: fixed;
    display: block;
    height: 100vh;
    width: 100vw;
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-image: url("../img/splash.png");
    background-size: cover;
}

.splash-container {
    padding: 80px 100px;
}

.splash-logo {
    max-height: 100px;
}

.splash-heading {
    margin-top: 30px;
}

.splash-heading h1{
    color: #f3c41f;
    font-size: 4em;
    font-weight: 900;
    line-height: 1.2em;
    text-transform: uppercase;
}

.button-row {
    margin-top: 50px;
}

.splash-page-button {
    color: #ffffff;
    width: 300px;
    border: 2px solid white;
    border-radius: 2px;
    margin: 0 auto;
    display: inline-block;
    padding: 5px 40px;
    font-size: 1.5em;
    font-weight: bold;

    transition: all 0.1s ease-in-out;
}

.splash-page-button:hover {
    background-color: rgba(200, 200, 200, 0.7);
}

.splash-page-button:active {
    background-color: rgba(200, 200, 200, 1);
}

/*-----------question page------------*/
.question-bg-div {
    min-height: 100vh;
    background-color: #3BA9CB;
}

.question-progress-bar-div {
    position: fixed;
    top: 30px;
    left: 50px;
    height: 80vh;
    width: 1px;
    background-color: #F1C40F;
}

.small-star-span {
    position: absolute;
    margin-top: 0px;
    margin-left: -21px;
    top: 0%;

    transition: all 1s ease-in-out;
}

.small-star-span img {
    height: 40px;
}

.big-star-span {
    position: absolute;
    left: -53px;
    margin-bottom: -61px;
    bottom: 0;
}

.big-star-span img {
    height: 100px;
}
